#activity{
    background-color: beige;
    border-radius:10px ;
    margin-bottom: 25px;

}

#btn{
    padding:10px ;
    border-radius: 5px;
    border-style:none ;
    background-color: rgb(170, 110, 21);
    margin-bottom: 10px;

}